@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="main-content">

    <header>
        <li><a href="@Url.Action("Index","Admin")" class="text-white">Dashboard</a></li>
        <li><a href="@Url.Action("Users","Admin")" class="text-white">Users</a></li>
        <h2>Admin Panel</h2>
     
    </header>
    <div class="scrollable-table">

    <table class="grid-table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>IsVisible</th>
                <th>Category</th>
                    <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Example rows with user data -->

            @{
                                        @model IEnumerable<BehtashShirzad.Models.DbModels.Product>
                
                foreach (var item in Model)
                {
                                            <tr>

                                                <td>  <img src="@item.image" width="50px" height="50px" /></td>
                                                <td>@item.Name</td>
                                                <td>@item.Price</td>
                                                <td>@item.Description</td>
                                                <td>@item.IsVisible</td>
                                                <td>@item.Category.Name</td>
                                        @{
                                if(item.IsVisible){
                                                            <td>
                                                                <button class="btn-danger" onclick="ChangeVisibility('@item.Name','False')">Set to Invisible</button>
                                                            </td>
                                }
                                else
                                {
                                                            <td>
                                                                <button class="btn-success" onclick="ChangeVisibility('@item.Name','True')">Set to Visible</button>
                                                            </td>
                                }
                                        }
                                              
                                                       
                                            </tr>
                }
            }
      @*   <td>
            <button class="action-button">Edit</button>
            <button class="action-button">Delete</button>
        </td> *@
            <!-- Add more rows as needed -->
        </tbody>
    </table>
    </div>

    <div id="createProduct" class="modal-background" style="display:none;">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p>Please enter Data:</p>
            <input type="text" id="ProductName" placeholder="Product Name" style="margin-top:10px">
            <input type="text" id="ProductDescription" placeholder="Description" style="margin-top:10px">
            <input type="text" id="ProductPrice" placeholder="Price" style="margin-top:10px">
            <label for="ProductVisibility" style="margin-top:5px">
                Product Visibility
                <input type="checkbox" id="ProductVisibility" checked style="margin-top:10px">
            </label>
            
            <input type="text" id="ProductImage" placeholder="Image" style="margin-top:10px">
            <label for="ProductCategory" style="margin-top:5px">Product Category</label>
            <select name="ProductCategory" id="ProductCategory" style="margin-top:10px">
                <option value="Source">source</option>
                <option value="Course">course</option>
            </select>
            <button onclick="CreateProduct()" style="margin-top:10px">Create Product</button>
        </div>
    </div>
   
    <button onclick="ShowModal()">Create Product</button>
</div>

             @section adminUserScript{
             
             
             <script>

                 function ChangeVisibility(name,status) {


            dataToSend =JSON.stringify({ Name: name, Visible: status })

            $.ajax({
                url: "/Product/ChangeVisibility",
                type: "POST",
                contentType: "application/json",
                data: dataToSend
            }).done(function (data, textStatus, jqXHR) {
                if (data.includes("html")) {
                    window.location = "/Login";
                } else if (data == "Ok") {
                    alert("Visibility Changed")
                } else if (data == "Error") {
                    alert("Error");
                }
                
            });

                 }

                 function ShowModal() {

                     document.getElementById('createProduct').style.display = 'block';

                     document.getElementsByClassName('close-button')[0].onclick = function () {
                document.getElementById('createProduct').style.display = 'none';
                     }


                     window.onclick = function (event) {
                         var modal = document.getElementById('createProduct');
                         if (event.target == modal) {
                             modal.style.display = 'none';
                         }
                     }

                     window.CreateProduct = function () {
                         var Name = document.getElementById('ProductName').value;

                         var Description = document.getElementById('ProductDescription').value;
                         var Image = document.getElementById('ProductImage').value;
                var checkbox = document.getElementById('ProductVisibility').checked;
                 
                         var Price = document.getElementById('ProductPrice').value;
                         var category = document.getElementById('ProductCategory').value;
                var dataToSend = JSON.stringify({ name: Name, description: Description, price: Price, Category: category, image: Image });
                console.log(checkbox)
                 

                         $.ajax({
                             url: "/Product/Create",
                             type: "POST",
                             contentType: "application/json",
                             data: dataToSend
                         }).done(function (data, textStatus, jqXHR) {
                             if (data.includes("html")) {
                                 window.location = "/Login";
                             } else if (data == "Ok") {
                                 alert("Product Created")
                             } else if (data == "Error") {
                                 alert("Error");
                             }
                             document.getElementById('createProduct').style.display = 'none'; // Close modal on success or error
                         });

                     }
                 }
             </script>
             }